<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mb-1" [routerLink]="['/']">StoreApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 20px;">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/offers']">On Sale</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-1"><form class="d-flex" (ngSubmit)="onSearch()">
          <input class="form-control me-2"
                type="search"
                placeholder="Search products"
                [(ngModel)]="searchQuery"
                name="search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item" *ngIf="auth.isLoggedIn">
          <a class="nav-link mt-1" [routerLink]="['/account']">Account</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn">
          <a class="nav-link mt-1" [routerLink]="['/wishlist']">Wishlist</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn">
          <a class="nav-link mt-1" [routerLink]="['/cart']">Cart</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn">
          <a class="nav-link mt-1" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn">
          <a class="nav-link mt-1" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn">
          <button class="btn btn-link nav-link mt-1" style="margin-left: 14px;" (click)="auth.logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="flex-fill">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>